@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@font-face { font-family: 'Arita-buri-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Bright'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Bright.woff') format('woff'); font-weight: normal; font-style: normal; }

/* ---------------------------------- */
/* 정의 */
/* ---------------------------------- */

a:link {
    text-decoration: none;
    color: white
}

a:visited {
    text-decoration: none;
    color: white
}

a:active {
    text-decoration: none;
    color: white
}

a:hover {
    text-decoration: none;
    color: red;
    display: visible;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* ---------------------------------- */
/* 메인 */
/* ---------------------------------- */

.commandcenter {
    background-color: black;
    background-position: center;
    background-size: cover;
    font-family: 'Playfair Display';
}

.box {
    position: absolute;
    width: 96vw;
    height: 96vh;
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin: 2vh 2vw 2vh 2vw;
    z-index: -999;
}

.title {
    font-size: 2vw;
    line-height: 2.8vw;
    color: white;
    z-index: 1;
    overflow: visible;
    font-family: 'Arita-buri-SemiBold', serif;
    padding: 7vh 0 0 6vw;
    float: left;
}

.title .protect {
    float: left;
}

.title .protecteng {
    padding: 0 0 0 46vw;
}

.mainlink {
    position: absolute;
    font-size: 1vw;
    line-height: 2vw;
    margin: 50vh 0 0 52vw;
}

/* ---------------------------------- */
/* 1차 메뉴*/
/* ---------------------------------- */

/* 본문 */

.gomain {
    position: absolute;
    margin: 1vh 0 0 1vw;
    font-size: 8vw;
}

.protect-1_text {
    font-size: 0.8vw;
    line-height: 1.4vw;
    width: 20vw;
}

/* 이미지 */

.gallery-menu {
    position: absolute;
    margin: 16vh 0 0 34vw;
    overflow: hidden;
}

.link-1 {
    margin-right: 2vw;
    float: left;
}

.img-1 {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.img-1_text{
    margin: 2vh 0 0 0; 
    width: 300px;
    visibility: hidden;
}

/* ---------------------------------- */
/* 이미지, 영상 요소*/
/* ---------------------------------- */

.img {
    width: 140vh;
    float: right;
    padding: 4vh;
}

.video {
    width: 140vh;
    float: right;
    padding: 4vh;
}

#videobcg {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    filter: brightness(20%);
}

/* ---------------------------------- */
/* Footer */
/* ---------------------------------- */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 80px 0 80px 100px;
    line-height: 48px;
    bottom: -280px;
}