.boxlink {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50vw;
    background-color: white;
    z-index: 2;
}

.name {
    position: absolute;
    display: inline-block;

    top: 50%;
    left: 50%;
    transform: translate(-50%);


    font-size: 3em;
    font-family: "Playfair Display";
    font-weight: 400;
    text-align: center;

    letter-spacing: .04em;
    line-height: 1.2em;

    color: black;
    padding-top: 10px;
    border-top: 2px white solid;

    transition: 1s all;
    animation: line 3s;
    animation-fill-mode: forwards;

}

@-webkit-keyframes line {
    100% {
        border-top: 2px black solid;
    }
}

.namesub {
    position: absolute;
    display: inline-block;

    bottom: 5vh;
    left: 50%;

    width: 100%;

    transform: translate(-50%);

    text-align: center;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    line-height: 1.6em;
    color: black;

    opacity: 0;

    transition: 1s all;
    animation: txth1 5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes txth1 {
    100% {
        opacity: 1;
    }
}

.namemiddle {
    position: relative;
    margin-top: 46vh;

    font-size: 1em;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    text-align: center;
    margin-bottom: 2vh;

    opacity: 0;

    transition: 1s all;
    animation: txth1 5s;
    animation-fill-mode: forwards;
}

.boximg {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 1;

    transform: translate(-6px);

}

.section {
    height: 100vh;
    transition: 1s all;
}

.section.section0 {
    opacity: 0;
    margin-top: -50vh;
}


/* ---------------------------------- */
/*-- 스크롤 --*/
/* ---------------------------------- */

.scroll {
    position: absolute;
    top: 90vh;
    left: 51vw;
    height: 0;
    box-sizing: border-box;

    width: 1px;
    z-index: 999;
    background-color: white;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
}

@-webkit-keyframes sdb {

    20% {}

    40% {
        height: 10vh;
        top: 90vh;
    }

    100% {
        height: 0;
        top: 100vh;
    }

}

.scrolltxt {
    position: absolute;
    left: 52vw;
    bottom: 0;
    height: 8vh;
    margin: 0;
    padding: 0;

    color: white;

    font-size: 1em;
    font-style: italic;
    letter-spacing: .4em;

    z-index: 300;
}

.toptext {
    position: absolute;
    font-size: 1.2em;
    font-family: 'Playfair Display';
    top: 6vh;
    left: 5vw;
    line-height: 1.4em;
    font-weight: 100;
    font-weight: 100;
    z-index: 500;
    color: black;
    transition: 1s ease-out;
}

.nav-up {
    top: -40px;
}

.gobutton {
    position: fixed;
    bottom: 40px;
    right: 40px;

    width: 40px;
    height: 40px;

    background-color: black;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin: 16px 0 0 16px;
    transition: 1s all;
}

.gobutton:hover {
    transform: scale(1.1);
}




.gallery-menu {
    width: 98vw;
    height: 300px;
    padding: 0;
}

.ykcon {
    font-size: 9pt;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: 600;    margin-top: 60px;

}

.yk {
    height: 80px;
}

.yklong {
    width: 8vw;
    margin-bottom: 20px;
}

.yktxt  {
    color: black;
}

/* ---------------------------------- */
/* 반응형 */
/* ---------------------------------- */

@media screen and (max-width: 768px) {
    .boximg{
        top: 0;
        left: 0;
        height: 50vh;
        width: 100vw;
    }
    
    .boxlink {
        top: 50vh;
        height: 50vh;
        width: 100vw;
    }
    
    .name{
        top:0;
        width: 100vw;
    }
    
    .namemiddle {
    position: relative;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    text-align: center;
    margin-top: -4vh;
    }
    
    .namesub {
        width: 80vw;
    }
    
    .scroll, .scrolltxt {
        opacity: 0;
    }
}